{% extends 'base.html.twig' %}

{% block title %} {{ page }} {% endblock %}

{% block body %}
    <div class="kt-portlet">
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-8">
                    {% if activites %}
                        {% if activites|length > 0 %}
                            <table class="table" id="liste_activites">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom du secteur d'activité</th>
                                    <th> Action </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for activite in activites %}
                                    <tr>
                                        <td>{{ activite.id }}</td>
                                        <td>{{ activite.nom }}</td>
                                        <td>
                                            <a title="Edit details" data-id="{{ activite.id }}" data-nom="{{ activite.nom }}" class="btn btn-sm btn-clean btn-icon btn-icon-md edit-btn">
                                                <i class="la la-edit"></i>
                                            </a>
                                            <a title="Delete" class="btn btn-sm btn-clean btn-icon btn-icon-md btn-remove" data-id="{{ activite.id }}">
                                                <i class="la la-trash"></i>
                                            </a>
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <div class="alert alert-outline-danger fade show" role="alert">
                                <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                                <div class="alert-text">Aucun secteur d'activité n'a été ajouté</div>
                                <div class="alert-close">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-close"></i></span>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-lg-4">
                    <div class="add-activite">
                        <h3 class="mb-4"> Ajouter un secteur d'activité</h3>
                        {{ form(form) }}
                    </div>
                    <div class="edit-activite">
                        <h3 class="mb-4"> Editer le secteur d'activté </h3>
                        {{ form(edit_form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}